<div class="row clearfix layout layout-top-middle">
  <div class="col-4 col-print-12 details">
    {%- if include.item.pic -%}
      <div class="col-xs-12 col-sm-4 col-md-3 no-print">
        <img width="180px" height="240px" src="{{ include.item.pic | relative_url }}" style="box-shadow: 1px 1px 1px #888888;" />
        <br/>
      </div>
    {%- endif -%}
  </div>
  <div class="col-6 col-print-12">
    <h4>{{include.item.name}}</h4>
    <p style="color: gray;">{{include.item.title}}</p>
    {{ include.item.description | strip | markdownify }}
    <!-- <p style="font-size: 18px">{{ include.item.description | strip | markdownify }}</p> -->
  </div>
</div>
